/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilos do cabeçalho */
header {
    background-color: #73c6a7;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

/* Estilos do conteúdo principal */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Estilos dos títulos */
h1, h2 {
    color: #333;
}

/* Estilos da lista de ativos */
ul {
    list-style: disc;
    margin-left: 20px;
}

/* Estilos do rodapé */
footer {
    text-align: center;
    padding: 1em 0;
    background-color: #f4f4f4;
    color: #777;
}

/* Estilos para links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
